<div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>内容框</h3>
        <ul class="content-box-tabs">
            
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post" enctype="multipart/form-data">
            <fieldset>
            <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
            <p>
              <label>姓名</label>
              <input class="text-input small-input" type="text" id="small-input" name="name" 
               value="<?=$arr['name']?>" readonly="readonly" />
              
              <!-- Classes for input-notification: success, error, information, attention -->
            </p>
            <p>
              <label>日期</label>
              <input class="text-input small-input" type="text"  name="time" 
               value="<?=$arr['time']?>" readonly="readonly" />
              
              <!-- Classes for input-notification: success, error, information, attention -->
            </p>
            <p>
              <label>邮箱</label>
              <input class="text-input medium-input datepicker" type="text"  name="email" value="<?=$arr['email']?>" readonly="readonly" />
            </p>
            <p>
              <label>电话</label>
              <input class="text-input medium-input datepicker" type="text"  name="phone" value="<?=$arr['phone']?>" readonly="readonly" />
            </p>            
            <p>
              <label>留言</label>
              <textarea class="text-input textarea wysiwyg" id="textarea" name="message" cols="79" rows="15"  readonly="readonly">
                <?=$arr['message']?>
              </textarea>
            </p>
            <p>
              <a class="button" href="index.php?admin=admin&m=message&a=index&curpage=<?=$arr['curpage']?>">返回</a>
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->