
 
    <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
          
            <!-- href must be unique and match the id of target div -->
            <li><a href="#tab2" class="default-tab">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post">
            <fieldset>
            <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
            <p>
              <label>分类的名称</label>
              <input class="text-input small-input" type="text" id="small-input" name="name" value="<?=$current['name']?>" />
              <span class="input-notification success png_bg">Successful message</span>
              <!-- Classes for input-notification: success, error, information, attention -->
              <br />
              <small>A small description of the field</small> </p>
            <p>
              <label>父级的id</label>
              <input class="text-input medium-input datepicker pid" type="text" id="medium-input" name="pid" value="<?=$current['pid']?>" readonly="readonly" />
              <span class="input-notification error png_bg">Error message</span>
           </p>
            <p class="cate">
              <label>请选择分类</label>
              <?php foreach($category as $k=>$v){ ?>
               <select>
                   <option value='-1'>上一级</option>
                   <?php foreach($v as $k1=>$v1){ if($v1["id"]==$k){?>

                       <option selected="selected" value="<?=$v1['id']?>"><?=$v1["name"]?></option>
                   <?php }else{?>
                        <option  value="<?=$v1['id']?>"><?=$v1["name"]?></option>
                   <?php }} ?>
               </select>
              <?php  }?>
           </p>
            
            <p>
              <input class="button" type="submit" value="Submit" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
    <script src="resources/scripts/category.js"></script>