<script type="text/javascript" src="resources/scripts/jquery-1.8.3.js"></script>
<script type="text/javascript" src="resources/scripts/Validform_v5.3.2_min.js"></script>

  <div class="content-box">
      <!-- Start Content Box -->
      <div class="content-box-header">
        <h3>内容框</h3>
        <ul class="content-box-tabs">
            
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        
        <div class="tab-content default-tab" id="tab2">
          <form action="" method="post" enctype="multipart/form-data" class="demoform">
            <fieldset>
            <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
            <p>
              <label>名称</label>
              <input class="text-input small-input" type="text" id="small-input" name="name" datatype="*" nullmsg="请输入名称！" />
              
              <!-- Classes for input-notification: success, error, information, attention -->
            </p>
            <p>
              <label>网址</label>
              <input class="text-input medium-input datepicker" type="text" id="medium-input" name="url" datatype="*" nullmsg="请输入网址！"/>
            </p>
            <p>
              <input class="button" type="submit" value="Submit" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
    


    <script type="text/javascript">
    $(".demoform").Validform();
    </script>
    